/*Colours*/
/*Font and font sizes*/
/*Globals*/
* {
  margin: 0px;
  padding: 0px; }

body {
  background-color: #212529; }

.container {
  background: #212529; }

h1 {
  color: #ffc107;
  font-size: 3em; }

h2 {
  color: #f7eaea;
  font-size: 1.5em; }

/*Home*/
.bigpict {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  margin-left: auto;
  margin-right: auto; }

/*Biography*/
.biotext {
  display: flex;
  color: #f7eaea;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1em;
  line-height: 1.4;
  text-align: center;
  border: solid 0.1rem #f7eaea;
  transition: all 1s ease;
  border-radius: 1rem;
  gap: 1rem; }
  .biotext:hover {
    color: #212529;
    background: #d63c3c; }
  .biotext:hover {
    color: #f7eaea;
    text-decoration: #f7eaea; }

/*Store*/
.boton__text {
  height: 50px;
  padding: 20px;
  background-color: #0d6efd;
  color: #f7eaea;
  display: inline-block;
  text-decoration: none;
  border-radius: 1em;
  transition: all 1s ease; }
  .boton__text:hover {
    color: #212529;
    background: #d63c3c; }
  .boton__text:hover {
    color: #f7eaea;
    text-decoration: #f7eaea; }

.containerc {
  max-width: 500px;
  margin: 0 auto; }

.card {
  background-color: #ffc107;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
  transition: all 1s ease; }

.card:hover {
  color: #212529;
  background: #dcd93559; }

.card:hover {
  color: #f7eaea;
  text-decoration: #f7eaea; }

.card__img {
  width: 200px;
  height: 200px;
  border-radius: 15px; }

.card__title {
  font-size: 1.5em;
  margin-bottom: 20px; }

em {
  font-size: 1.5em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

strong {
  font-size: 1.5em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }
