/*INICIO RESETS */
* {
  margin: 10;
  /* Quito el margin y padding que podria */
  padding: 0;
  /* venir con el navegador que use el usuario */
}

body {
  background: #212529;
}
.container {
  background: #212529;
}
.bigpict {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.biotext {
  display: flex;
  color: #fafafa;
  font-family: "Open Sans Condensed", sans-serif;
  line-height: 1.4;

  text-align: center;
  border: solid 0.1rem white;
  transition: all 1s ease;
  border-radius: 1rem;
  gap: 1rem;
}

.biotext:hover {
  color: black;
  background: rgb(214, 60, 60);
}

.biotext:hover {
  color: #ffffff;
  text-decoration: rgb(255, 255, 255);
}
