/*Colours*/

$colour-primary: #212529;
$colour-secondary: #d63c3c;
$colour-tertiary: #f7eaea;
$colour-quaternary: #ffc107;
$colour-quinary: #00000008;
$colour-senary: #dcd93559;
$colour-septenary: #0d6efd;

/*Font and font sizes*/

$font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

$font-normal: 1em;
$font-mid: 1.5em;
$font-big: 3em;
