/*Store*/

.containerc {
  max-width: 500px;
  margin: 0 auto;
}

.card {
  background-color: $colour-quaternary;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
  transition: all 1s ease;

  &__img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
  }

  &:hover {
    color: $colour-primary;
    background: $colour-senary;
  }
  &:hover {
    color: $colour-tertiary;
    text-decoration: $colour-tertiary;
  }
  &__boton {
    height: 50px;
    padding: 20px;
    background-color: $colour-septenary;
    color: $colour-tertiary;
    display: inline-block;
    text-decoration: none;
    border-radius: 1em;
    transition: all 1s ease;

    &:hover {
      color: $colour-primary;
      background: $colour-secondary;
    }

    &:hover {
      color: $colour-tertiary;
      text-decoration: $colour-tertiary;
    }
  }
  &__info {
    &__title {
      font-size: $font-mid;
      margin-bottom: 20px;
    }
  }
}
